/* line 1, ../sass/components/_body.scss */
body {
  background: #70B8FF;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #66ff33), color-stop(100%, #85ff5c));
  background-image: -webkit-linear-gradient(#66ff33, #85ff5c);
  background-image: -moz-linear-gradient(#66ff33, #85ff5c);
  background-image: -o-linear-gradient(#66ff33, #85ff5c);
  background-image: linear-gradient(#66ff33, #85ff5c);
}

/* line 6, ../sass/components/_body.scss */
.wrap {
  margin: 0 auto;
  width: 960px;
}

@media (max-width: 600px) {
  /* line 13, ../sass/components/_body.scss */
  .hero-unit {
    width: 55%;
    font-size: .8em;
  }

  /* line 18, ../sass/components/_body.scss */
  .masthead {
    width: 55%;
  }

  /* line 23, ../sass/components/_body.scss */
  .navigation li {
    max-width: 18.8%;
  }

  /* line 28, ../sass/components/_body.scss */
  img {
    max-width: 30%;
    max-height: 30%;
  }

  /* line 33, ../sass/components/_body.scss */
  .media-grid {
    width: 55%;
    font-size: .7em;
  }
}
/* line 2, ../sass/components/_masthead.scss */
.masthead {
  background: #C7C7C7;
  padding: 0;
  margin: 0;
  height: 170px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* line 12, ../sass/components/_masthead.scss */
.masthead p {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  font-size: 3.7em;
  text-align: center;
  font-family: Copperplate;
  text-shadow: 0px 0px 1px #aaaaaa;
}

/* line 23, ../sass/components/_masthead.scss */
.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 32, ../sass/components/_masthead.scss */
.navigation li {
  width: 186px;
  height: 30px;
  float: left;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  text-shadow: 0px 0px 1px #aaaaaa;
  padding-top: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-family: Tahoma;
  border-style: solid;
}

/* line 51, ../sass/components/_masthead.scss */
.navigation li:hover {
  background-color: #80FF80;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  transform: scale(1.02);
}

/* line 59, ../sass/components/_masthead.scss */
.logo {
  padding: 0;
  margin: 0;
  height: 40px;
  width: 40px;
  background-color: #85FF5C;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0px 0px 1px #aaaaaa;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
/* line 76, ../sass/components/_masthead.scss */
.logo p {
  padding: 0;
  margin: 0;
  font-family: Cursive;
  height: 40px;
  font-size: 30px;
}
/* line 83, ../sass/components/_masthead.scss */
.logo :hover {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotate;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  /* line 97, ../sass/components/_masthead.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 98, ../sass/components/_masthead.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  /* line 102, ../sass/components/_masthead.scss */
  from {
    -moz-transform: rotate(0deg);
  }

  /* line 103, ../sass/components/_masthead.scss */
  to {
    -moz-transform: rotate(360deg);
  }
}

/* line 1, ../sass/components/_mediagrid.scss */
.media-grid {
  background: #FFFFFF;
  padding: 0;
  margin: 0;
  height: 600px;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 9, ../sass/components/_mediagrid.scss */
.media-grid p {
  margin: 0;
  text-align: center;
  text-shadow: 0px 0px 1px #aaaaaa;
  font-family: Georgia;
  float: center;
  line-height: 2.5;
  font-size: 2em;
}

/* line 1, ../sass/components/_herounit.scss */
.hero-unit {
  background: #FFFFFF;
  padding: 0;
  margin: 0;
  height: 600px;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 9, ../sass/components/_herounit.scss */
.hero-unit p {
  padding: 0;
  margin: 0;
  padding-top: 20px;
  text-align: center;
  text-shadow: 0px 0px 1px #aaaaaa;
  font-family: Georgia;
  float: left;
  line-height: 2.5;
  font-size: 1.5em;
}
/* line 21, ../sass/components/_herounit.scss */
.hero-unit img {
  display: block;
  padding-top: 30px;
  padding-left: 50px;
  margin: 0;
}

/* line 4, ../sass/components/_userinfo.scss */
.user-info {
  background: #A1A1A1;
  padding: 0;
  margin: 0;
  height: 250px;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}

/* line 14, ../sass/components/_userinfo.scss */
.picture {
  float: left;
  padding: 10px;
  margin: 0 5px 0 0;
}

/* line 19, ../sass/components/_userinfo.scss */
.user-info p {
  padding: 0;
  margin: 0;
  padding-top: 20px;
  text-align: center;
  text-shadow: 0px 0px 1px #aaaaaa;
  font-family: Georgia;
  float: right;
  line-height: 2.5;
  font-size: 1.2em;
}
