body {
  background: #70B8FF;
  @include background-image(linear-gradient(#66FF33, #85FF5C));
}

.wrap {
  margin: 0 auto;
  width: 960px;
}


@media (max-width: 600px) {
  .hero-unit{
    width: 55%;
    font-size: .8em;
  }

  .masthead{
    width: 55%;

  }

  .navigation li {
    max-width: 18.8%;


  }
  img{
    max-width: 30%;
    max-height: 30%;
  }

  .media-grid{
    width: 55%;
    font-size: .7em;
  }
}
