
.masthead  {
  background: #C7C7C7;
  padding: 0;
  margin: 0;
  height: 170px;
  text-align: center;
  @include box-shadow;
  @include border-radius(10px);
}

.masthead p {
  margin: 0;
  padding: 0;
  padding-top: 20px;

  font-size: 3.7em;
  text-align: center;
  font-family: Copperplate;
  @include single-text-shadow;

}
.navigation {
  list-style-type: none;

  margin: 0;
  padding: 0;




  & li{
    width: 186px;
    height: 30px;
    float: left;
    background-color:#FFFFFF;
    @include box-shadow;
    @include single-text-shadow;
    padding-top: 12px;
    @include border-radius(5px);
    font-family: Tahoma;
    border-style: solid;



  }


}

.navigation li:hover{
  background-color:#80FF80;
  @include border-radius(5px);
  transform: scale(1.02);


}

.logo {
  padding: 0;
  margin: 0;
  height: 40px;
  width: 40px;
  background-color: #85FF5C;
  @include box-shadow;
  @include border-radius(5px);
  @include single-text-shadow;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;

  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;

  & p{
    padding: 0;
    margin: 0;
    font-family: Cursive;
    height: 40px;
    font-size: 30px;
  }
  & :hover{
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    -moz-animation-name: rotate;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
  }
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}
