.media-grid  {
  background: #FFFFFF;
  padding: 0;
  margin: 0;
  height: 600px;
  @include box-shadow;
  @include border-radius(10px);

  & p{
    margin: 0;
    text-align: center;
    @include single-text-shadow;
    font-family:Georgia;
    float: center;
    line-height: 2.5;
    font-size: 2em;
  }
}
